.completionofregistration-content {
    margin: auto;
    width: 30%;
    font-size: larger;
    padding: 30px 40px;
    background-color: rgb(233 235 236 / 80%);
}
.completionofregistration-table {
    margin-bottom: 20px;
}